body {
  background-color: rgb(32, 32, 32);
  margin: 0px;
}

.hidden {
  transform: rotateY(180deg);
}

.container {
  height: 30rem;
  width: 50rem;
  position: relative;
  left: 35rem;
  top: 12rem;
}

.card-whole {
  position: relative;
  transition: transform 1500ms;
  transform-style: preserve-3d; /* Properly flips item over, hiding front, showing back etc, treats it as a 3d object*/
}

.business-card-back, .business-card {
  width: 50rem;
  height: 30rem;
  position: absolute;
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), black);
  border-radius: 25px;
  border: 1px solid black;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.432);
  font-family: 'Poppins', monospace, sans-serif;
  backface-visibility: hidden; /* Hides the back face of card */
  cursor: pointer;
}

.name, .job-title, .website, .email, .tel{
  color: white;
  font-size: 4rem;
  margin: 5px 0px 0px 10px;
  padding: 0px;
}
.name {
  text-decoration: underline;
}

.job-title {
  font-size: 2rem;
  margin-top: 10px;;
}

.website, .email, .tel {
  font-size: 1.5rem;
  margin-top: 20px;
}

.website-link, .email-link {
  text-decoration: none;
  color: white;
}
.website-link:hover, .email-link:hover {
  text-decoration: underline;
  color: rgb(139, 1, 1);
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  justify-content: space-evenly;
  top: 2.5rem;
}

.instagram, .github, .code-wars, .leetcode {
  position: relative;
  width: 5rem;
}

.business-card-back {
  transform: rotateY(180deg); /* Flip the info in this class to ensure when transition is applied it flips to become readable */
}

.business-card-back {
  text-align: center;
}

.occupation-title-back {
  color:rgba(83, 83, 241, 0.671);
  text-decoration: underline;
  font-size: 4rem;
  margin: 5px 0px 0px 10px;
  padding: 0px;
  font-weight: 700;
}

.div-signature {
  position: relative;
  display: flex;
  justify-content: center;
}

.sign {
  position: absolute;
  top: 25rem;
  width: 50rem;
  height: 2rem;
  background-color: white;
  font-size: 25px;
  font-weight: 600;
  margin: 0px;
}

.back-images {
  display: flex;
  justify-content: space-evenly;
}

.html5, .css3, .js {
  width: 9rem;
  position: relative;
  top: 4rem;
}