body {
  background-color: rgb(32, 32, 32);
  margin: 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55rem;
}

.business-card {
  width: 50rem;
  height: 30rem;
  border: 1px solid black;
  box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.432);
  background: linear-gradient(to right bottom, rgba(255, 255, 255, 0), black);
  border-radius: 25px;
  font-family: 'Poppins', monospace, sans-serif;
  cursor: pointer;
}

.name, .job-title, .website, .email, .tel{
  color: white;
  font-size: 4rem;
  margin: 5px 0px 0px 10px;
  padding: 0px;
}
.name {
  text-decoration: underline;
}

.job-title {
  font-size: 2rem;
  margin-top: 10px;;
}

.website, .email, .tel {
  font-size: 1.5rem;
  margin-top: 20px;
}

.website-link, .email-link {
  text-decoration: none;
  color: white;
}
.website-link:hover, .email-link:hover {
  text-decoration: underline;
  color: rgb(139, 1, 1);
}

.image-container {
  display: flex;
  position: relative;
  justify-content: center;
  justify-content: space-evenly;
  top: 2.5rem;
}

.instagram, .github, .code-wars, .leetcode {
  position: relative;
  width: 5rem;
}